<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="closeRegister()">×</button>
        <h4>{{messages['form.register.signup']}}</h4>
    </div>
    <div class="modal-body">
        <div ng-repeat="error in registerError">
            <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
        </div>
        <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>

        <form ng-submit="register()" class="signup form-horizontal">
            <div class="col-md-4" style="position:absolute;" ng-bind-html="trustMessage(messages['form.register.infos'])"></div>
            <div class="form-group">
                <!-- <label for="name" class="col-md-4 control-label">{{messages['form.register.fullname']}}</label> -->
                <div class="col-md-offset-4 col-md-8">
                    <input id="name" type="text" name="name" placeholder="{{messages['form.register.fullname']}}" class="form-control" ng-model="user.fullname"/>
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="email" class="col-md-4 control-label">Email</label> -->
                <div class="col-md-offset-4 col-md-8">
                    <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="username" class="col-md-4 control-label">{{messages['form.register.username']}}</label> -->
                <div class="col-md-offset-4 col-md-8">
                    <input id="username" type="text" name="username" placeholder="{{messages['form.register.username']}}" class="form-control" ng-model="user.username"/>
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="password" class="col-md-4 control-label">{{messages['form.register.password']}}</label> -->
                <div class="col-md-offset-4 col-md-8">
                    <input id="password" type="password" name="password" placeholder="{{messages['form.register.password']}}" class="form-control" ng-model="user.password"/>
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="confirmPassword" class="col-md-4 control-label">{{messages['form.register.password.repeat']}}</label> -->
                <div class="col-md-offset-4 col-md-8">
                    <input id="confirmPassword" type="password" name="confirmPassword" placeholder="{{messages['form.register.password.repeat']}}" class="form-control" ng-model="user.confirmPassword"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-primary">{{messages['form.register.signup']}}</button>&nbsp;
                    or&nbsp;<a href='#' data-ng-click="login()" class="show-login">{{messages['form.register.login']}}</a>
                </div>
            </div>
        </form>
    </div>
</div>
