<section>
	<div data-ng-repeat="group in teams">
		<div class="row">
			<div class="col-md-11"><span class="caption">Group {{group._id}}</span></div>
		</div>
		<div class="row head col-xs-12">
			<div class="col-md-4 col-xs-10 title">Teams</div>
			<div class="col-md-1 hidden-xs"><abbr title="Played">MP</abbr></div>
			<div class="col-md-1 hidden-xs"><abbr title="Won">W</abbr></div>
			<div class="col-md-1 hidden-xs"><abbr title="Lost">L</abbr></div>
			<div class="col-md-1 hidden-xs"><abbr title="Draw">D</abbr></div>
			<div class="col-md-1 hidden-xs"><abbr title="Goals for">GF</abbr></div>
			<div class="col-md-1 hidden-xs"><abbr title="Goals against">GA</abbr></div>
			<div class="col-md-1 col-xs-2"><abbr title="Points">Pts</abbr></div>
		</div>
		<div data-ng-repeat="team in group.teams" class="row team">
			<div class="col-md-4 col-xs-10 countryText pointer" data-ng-click="showTeam(team)">
				<img data-ng-src="{{team.flag}}" alt="flag" class="flag"/>{{team.country}}
			</div>
			<div class="col-md-1 hidden-xs">{{team.played || 0}}</div>
			<div class="col-md-1 hidden-xs">{{team.won || 0}}</div>
			<div class="col-md-1 hidden-xs">{{team.lost || 0}}</div>
			<div class="col-md-1 hidden-xs">{{team.draw || 0}}</div>
			<div class="col-md-1 hidden-xs">{{team.goals.for || 0}}</div>
			<div class="col-md-1 hidden-xs">{{team.goals.against || 0}}</div>
			<div class="col-md-1 col-xs-2">{{team.points || 0}}</div>
		</div>
	</div>
</section>
