<div id="scipts">
    <script type="text/javascript">
        window.user = {{user|safe}};
        window.roles = {{roles|safe}};
        window.locale = "{{locale|safe}}";
    </script>
{% for file in assets.js %}
	<script type="text/javascript" src="/public/{{file}}"></script>
{% endfor %}
  <script type="text/javascript" src="/public/vendor/angular-i18n/angular-locale_{{locale}}.js"></script>
  <script type="text/javascript" src="/public/wcb-i18n/wcb-locale_{{locale}}.js"></script>
</div>

{% if (process.env.NODE_ENV == 'development') %}
	<!-- Livereload script rendered -->
	<script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}
