<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product" id="ng-app" ng-app="wcb">
	{% include '../includes/head.html' %}
	<body ng-controller="AppCtrl">
		<div class="navbar navbar-inverse navbar-fixed-top" data-ng-include="'/public/system/views/header.html'" data-role="navigation"></div>
    <div data-ng-include="'/public/system/views/notifications.html'" class="container-fluid" data-ng-show="notifications.getCurrent().length"></div>
		<section class="content">
      <section class="container">
        {% block content %}{% endblock %}
      </section>
    </section>
    {% include '../includes/foot.html' %}
  </body>
</html>
