<form name="form" novalidate class="bet-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancelBet()">×</button>
        <h4>Make a pronostic</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-show="error">
            {{error}}
        </div>
        <div class="bet-score">
            <div class="home">
                <img ng-src="{{match.teamHome.team.flag}}" ng-click="setWinner(match.teamHome._id)" alt="{{match.teamHome.team.country}}" class="i-4-flag flag" data-ng-class="{selected:bet.winner==match.teamHome._id}"/>
                <input type="number" name="score.home" class="form-control" ng-model="bet.score.home"/>
                <span class="separator">-</span>
            </div>
            <div class="away">
                <input type="number" name="score.away" class="form-control" ng-model="bet.score.away"/>
                <img ng-src="{{match.teamAway.team.flag}}" ng-click="setWinner(match.teamAway._id)" alt="{{match.teamAway.team.country}}" class="i-4-flag flag" data-ng-class="{selected:bet.winner==match.teamAway._id}"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary" data-ng-click="saveBet()" ng-disabled="form.$invalid">Submit</button>
                <button class="btn btn-warning cancel" ng-click="cancelBet()">Cancel</button>
            </div>
        </div>
    </div>
</form>