<section>
	<div class="row">
		<div class="match-list">
			<div class="matches">
				<div class="match-list-round" data-ng-repeat="level in levels"><h2>{{levelLabs[level.level]}}</h2>
					<div class="match-list-date anchor" id="{{date._id | date:'yyyyMMdd'}}" ng-repeat="date in level.matchesByDate">
						<h3><span class="h3-wrap">{{date._id|date:'EEEE dd MMMM'}}</span></h3>
						<div class="col-xs-12 clear-grid" ng-repeat="match in date.matches">
							<div id="300186456" class="mu fixture" data-ng-class="{pointer:match.teamA != null}" ng-click="viewMatch(match)">
								<div class="mu-i">
									<!-- <div class="mu-i-datetime">{{match.date|date:'dd MMM yyyy - HH:mm'}}</div> -->
									<div class="mu-i-group" ng-switch on="match.level">
										<span ng-switch-when="16">Group {{match.teamA.group}}</span>
										<span ng-switch-when="8">Round of 16</span>
										<span ng-switch-when="4">Quarter-Finals</span>
										<span ng-switch-when="2">Semi-Finals</span>
										<span ng-switch-when="1">Play-Off For Third Place</span>
										<span ng-switch-when="0">Final</span>
									</div>
									<div class="mu-i-location">
										<div class="mu-i-stadium">{{match.stadium}}</div>
										<div class="mu-i-venue">{{match.city}}</div>
									</div>
								</div>
								<div class="mu-m">
									<div class="t home">
										<div class="t-i i-4">
											<span class="t-i-wrap">
												<img ng-if="match.teamA" ng-src="{{match.teamA.flag}}" alt="{{match.teamA.country}}" class="BRA i-4-flag flag"/>
												<img ng-if="!match.teamA" src="http://img.fifa.com/imgml/layout/backgrounds/void.gif" alt="{{match.teamHome}}" class=" i-4-flag flag fake ng-hide"/>
											</span>
										</div>
										<div class="t-n">
											<span ng-if="match.teamA" class="t-nText">{{match.teamA.country}}</span>
											<span ng-if="!match.teamA" class="t-nText">[{{match.teamHome}}]</span>
										</div>
									</div>
									<div class="t away">
										<div class="t-i i-4">
											<span class="t-i-wrap">
												<img ng-if="match.teamB" ng-src="{{match.teamB.flag}}" alt="{{match.teamB.country}}" class="CRO i-4-flag flag"/>
												<img ng-if="!match.teamB" src="http://img.fifa.com/imgml/layout/backgrounds/void.gif" alt="{{match.teamAway}}" class=" i-4-flag flag fake ng-hide"/>
											</span>
										</div>
										<div class="t-n">
											<span ng-if="match.teamB" class="t-nText">{{match.teamB.country}}</span>
											<span ng-if="!match.teamB" class="t-nText">[{{match.teamAway}}]</span>
										</div>
									</div>
									<div class="s">
										<div class="s-fixture">
											<div class="s-status"><span data-ng-if="match.score.away != null">Fin</span></div>
											<div class="s-score s-date-HHmm">
												<span data-ng-if="match.score.away == null" class="s-scoreText">{{match.date|date:'HH:mm'}}</span>
												<span data-ng-if="match.score.away != null" class="s-scoreText">{{match.score.home}} - {{match.score.away}}</span>
											</div>
										</div>
									</div>
									<div class="mu-reasonwin"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
